.portfolio__content__main{
    padding-top: 0;
}

.portfolio__header__text{
    text-decoration: none;
    color: #d6d6d6;
    font-size: 28px;
    position: relative;
    bottom: 5px;
}

.portfolio__content{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 30px;
    justify-content: space-around;
}

.portfolio__card{
    border: 1px solid #FCFCFC;
}

.portfolio__item {
    width: 34%;
    background-color: #2a2a2b !important;
    border: 1px solid #383838;
    color: #d6d6d6 !important;
}

.card__img-container{
    background: #000000;
    overflow: hidden;
    /*border-radius: 8px;*/
    z-index: 1;
}

.card__img{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
}

.portfolio__card-link, .card__description{
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d6d6;
}

.card__description{
    font-size: 14px !important;
}

.portfolio__card-link{
    padding-left: 8px !important;
}