.portfolio__content__main{
    background-color: #1e1e1f;
    border: 1px solid #383838;
    border-radius: 20px;
    box-shadow: -4px 8px 24px rgb(0 0 0 / 25%);
    padding: 1.875rem 2.7rem 1.875rem 1.875rem;
    position: relative;
    width: 50%;
}

.portfolio__header__text{
    text-decoration: none;
    color: #d6d6d6;
    font-size: 28px;
    position: relative;
    bottom: 5px;
}

.portfolio__content_row1, .portfolio__content_row2, .portfolio__content_row3{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 30px;
    justify-content: space-around;
}

.portfolio__card{
    border: 1px solid #FCFCFC;
    margin-right: 20px;
}

.portfolio__item {
    width: 34%;
    background-color: #2a2a2b !important;
    border: 1px solid #383838;
    color: #d6d6d6 !important;
}

.card__img-container{
    background: #000000;
    overflow: hidden;
    /*border-radius: 8px;*/
    z-index: 1;
}

.card__img{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
}

.portfolio__card-link, .card__description{
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d6d6;
}

.card__description{
    font-size: 14px !important;
}

#todo, #soon3, #soon6{
    margin-right: 0;
}