.content {
  width: 50%;
  background-color: #1e1e1f;
  border: 1px solid #383838;
  border-radius: 20px;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
  padding: 1.875rem 2.7rem 1.875rem 1.875rem;
  position: relative;
}

.prof-skill__inf {
  display: flex;
  flex-wrap: wrap;
}

.prof-skill__inf__item {
  flex: 0 0 auto;
  width: 41.5%;
  display: flex;
  justify-content: center;
  height: calc(100% - 1.25rem);
  padding: 30px 30px 20px 30px;
  position: relative;
  border: 1px solid #262626;
  border-radius: 16px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
}

.box-1,
.box-3 {
  margin-right: 30px;
}

.box__icon {
  margin-right: 15px;
}

.content-icon {
  font-size: 3rem !important;
}

.box__text {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}

.icon-container {
  display: flex;
  align-items: center;
}

.react-text {
  font-weight: 800;
}

.portfolio {
  display: flex;
  flex-direction: row;
}

.portfolio__item {
  width: 34%;
}

.neirika,
.square {
  margin-right: 20px;
}

.portfolio__title {
  margin-top: 0;
}

.portfolio__img {
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 124ms linear, transform 124ms linear;
  border-radius: 8px;
}

.img-container {
  background: #000000;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.portfolio__img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.footer-text {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: center;
}

.works {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.works__link {
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.2s;
}

.works__link:hover {
  color: #ffdb6e;
}

@media screen and (max-width: 1670px) {
  .prof-skill__inf__item {
    width: 39%;
  }

  .footer-text {
    height: 12%;
  }
}

@media screen and (max-width: 1477px) {
  .prof-skill__inf__item {
    width: 37%;
  }

}
