.appComponents {
    display: flex;
    justify-content: center;
    padding: 30px;
}

@media screen and (max-width: 1262px ) {

    .appComponents {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
    }
}
