.inf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.title-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #1e1e1f;
    border: 1px solid #383838;
    border-radius: 20px;
    box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    z-index: 10;
}

.avatar-box {
    background: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
    overflow: hidden;
    height: calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
    transition: all .3s ease-in-out;
}

.img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    user-select: none;
    vertical-align: middle;
}

.title-text {
    text-align: center;
}

.title-name {
    font-size: 1.625rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.badge {
    background: #2a2a2b;
    font-size: 0.75rem;
    font-weight: 300;
    border-radius: 8px;
    padding: 8px 16px;
}

.separation {
    background: #383838;
    margin: 32px 0;
    height: 1px;
    width: 100%;
}

.detail-inf {
    list-style: none;
    padding: 0 25px;
    margin-bottom: 8px;
    margin-top: 0;
}

.detail-inf__item {
    color: #FCFCFC;
    font-size: 0.875rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.li__icon {
    background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
    font-size: 1.125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
    line-height: 1;
    margin-right: 16px;
    height: 48px;
    width: 48px;
}

.li__inf {
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1;
}

.overhead {
    color: #D6D6D6;
    font-size: 0.75rem;
    font-weight: 400;
    display: block;
    opacity: .7;
    text-transform: uppercase;
}

.detail-inf__item a {
    color: #FCFCFC;
    -webkit-text-fill-color: inherit;
    text-decoration: none;
}

.text-overflow {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.social-link {
    font-size: 1.125rem;
    color: #FCFCFC;
    -webkit-text-fill-color: inherit;
    opacity: .6;
    margin: 0 0.375rem;
}